# Ignore VSCode settings
.vscode/

# Ignore Java build output
target/
build/
classes/

# Ignore IDE files
.idea/
*.iml

# Ignore Maven output
.mvn/

# Ignore Eclipse output
.metadata/

# Ignore IntelliJ output
out/

# Ignore other common files
*.log
*.tmp
*.class
*.jar
*.war
*.ear
*.zip
*.tar
*.gz
*.bz2
*.xz
*.7z
*.rar
*.exe
*.dll
*.so
*.a
*.o
*.obj
*.lib
*.pdb
*.ilk
*.manifest
*.suo
*.ncb
*.cache
*.user
*.suo
*.ntvs*
*.nbactions.xml
*.nb-configuration.xml
*.nbproject/
*.properties
*.classpath
*.project
*.settings/
*.pydevproject
*.metadata/
*.tmproj/
*.tmproj-data/
*.tmproj-refs/
*.tmproj-roots/
*.tmproj-templates/
*.tmproj-xml/
*.tmproj-xml-refs/
*.tmproj-xml-roots/
*.tmproj-xml-templates/
*.tmproj-xml-refs/
*.tmproj-xml-roots/
*.tmproj-xml-templates/
*.tmproj-xml-refs/
*.tmproj-xml-roots/
*.tmproj-xml-templates/
*.tmproj-xml-refs/
*.tmproj-xml-roots/
*.tmproj-xml-templates/
*.tmproj-xml-refs/
*.tmproj-xml-roots/
*.tmproj-xml-templates/
*.tmproj-xml-refs/
*.tmproj-xml-roots/
*.tmproj-xml-templates/
*.tmproj-xml-refs/
*.tmproj-xml-roots/
*.tmproj-xml-templates/
*.tmproj-xml-refs/
*.tmproj-xml-roots/
*.tmproj-xml-templates/
*.tmproj-xml-refs/
*.tmproj-xml-roots/
*.tmproj-xml-templates/
*.tmproj-xml-refs/
*.tmproj-xml-roots/
*.tmproj-xml-templates/
*.tmproj-xml-refs/
*.tmproj-xml-roots/
*.tmproj-xml-templates/
*.tmproj-xml-refs/
*.tmproj-xml-roots/
*.tmproj-xml-templates/
*.tmproj-xml-refs/
*.tmproj-xml-roots/
*.tmproj-xml-templates/
*.tmproj-xml-refs/
*.tmproj-xml-roots/
*.tmproj-xml-templates/
*.tmproj-xml-refs/
*.tmproj-xml-roots/
*.tmproj-xml-templates/
*.tmproj-xml-refs/
*.tmproj-xml-roots/
*.tmproj-xml-templates/
*.tmproj-xml-refs/
*.tmproj-xml-roots/
*.tmproj-xml-templates/
*.tmproj-xml-refs/
*.tmproj-xml-roots/
*.tmproj-xml-templates/
*.tmproj-xml-refs/
*.tmproj-xml-roots/
*.tmproj-xml-templates/
*.tmproj-xml-refs/
*.tmproj-xml-roots/
*.tmproj-xml-templates/
*.tmproj-xml-refs/
*.tmproj-xml-roots/
*.tmproj-xml-templates/
*.tmproj-xml-refs/
*.tmproj-xml-roots/
*.tmproj-xml-templates/
*.tmproj-xml-refs/
*.tmproj-xml-roots/
*.tmproj-xml-templates/
*.tmproj-xml-refs/
*.tmproj-xml-roots/
*.tmproj-xml-templates/
*.tmproj-xml-refs/
*.tmproj-xml-roots/
*.tmproj-xml-templates/
*.tmproj-xml-refs/
*.tmproj-xml-roots/
*.tmproj-xml-templates/
*.tmproj-xml-refs/
*.tmproj-xml-roots/
*.tmproj-xml-templates/
*.tmproj-xml-refs/
*.tmproj-xml-roots/
*.tmproj-xml-templates/
*.tmproj-xml-refs/
*.tmproj-xml-roots/
*.tmproj-xml-templates/
*.tmproj-xml-refs/
*.tmproj-xml-roots/
*.tmproj-xml-templates/
*.tmproj-xml-refs/
*.tmproj-xml-roots/
*.tmproj-xml-templates/
*.tmproj-xml-refs/
*.tmproj-xml-roots/
*.tmproj-xml-templates/
*.tmproj-xml-refs/
*.tmproj-xml-
